/* General Styles */

.body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

.form-container {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}



/* Form Elements */
.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

.form-input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.2);
}

/* Style for telefono and codigo-area */
.form-telefono {
    display: flex;
    gap: 10px;
}

.codigo-area {
    flex: 0 0 30%;
    max-width: 80px;
}

.telefono {
    flex: 1;
}

/* Button Styles */
.form-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 480px) {
    .form-container {
        padding: 15px;
    }

    .form-label {
        font-size: 13px;
    }

    .form-input {
        padding: 8px;
        font-size: 13px;
    }

    .form-button {
        padding: 8px 12px;
        font-size: 14px;
    }

    .form-telefono {
        flex-direction: column;
    }

    .codigo-area {
        flex: 0 0 auto;
        max-width: 100%;
    }

    .telefono {
        flex: 0 0 auto;
        max-width: 100%;
    }
    .crud-buttons a {
        text-decoration: none; 
        display: inline-block; 
        margin: 5px; 
    }
    
    .crud-btn {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 100%; 
    }
    
    .crud-btn:hover {
        background-color: #0056b3;
    }
    
    @media (max-width: 480px) {
        .crud-btn {
            font-size: 14px;
            padding: 8px 15px;
        }
    }
    
    

}
